body{
    margin: 0
}
#prompter{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: crimson;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
}
#prompter > *{
    flex-grow: 1;
    margin: 47vh 50px;
}
#promptEnter{
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}
#colorPrompter{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
}
#colorPrompter .prompter{
    position: fixed;
    top: 0px;
    width: 100vw;
    display: flex;
    height: 50vh;
    background-color: crimson;
}
#colorPrompter > div > *{
    cursor: pointer;
    flex-grow: 1;
    margin: 22vh 50px;
    font-size: 30px;
}
#colorPrompter .overlay{
    height: 50vh;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
}
#winnerElement{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    font-size: 12vh;
    background-color: crimson;
    color: white;
    text-align: center;
    line-height: 100vh;
    margin: 0px;
}
#currentCard{
    height: 50vh;
    text-align: center;
    font-size: 8vh;
    line-height: 50vh;
}
#ready{
    height: 50vh;
    width: 100vw;
    font-size: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ready > *{
    flex-grow: 1;
}
#ready div{
    text-align: center;
    line-height: 50vh;
}
#ready button{
    font-size: 4vh;
    border: 0;
    border-radius: 8px;
    padding: 20px;
    background-color: crimson;
    color: white;
    margin-bottom: 15vh;
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: pointer;
    transition: background 0.2s;
}
#ready button:hover{
    background-color: red;
    transition: background 0.5s;
}
#currentPlayer{
    display: none;
    height: 50vh;
}
#currentPlayer > div{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 15%;
    text-align: center;
    font-size: 3em;
}
#currentHand{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
#currentHand > div{
    flex-grow: 1;
    height: 3em;
    line-height: 3em;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
    border-color: black;
    border-width: 2px;
    border-style: double;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(240,240,240);
    transition: background 0.5s;
}
#currentHand > div:hover{
    background-color: rgb(220,220,220);
    transition: background 1s;
    cursor: pointer;
}
#currentHand > div,#deck{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}